deps/*
!deps/librdkafka.gyp
!deps/librdkafka
!deps/windows-install.*
.gitmodules
Dockerfile
deps/librdkafka/config.h
build
.github
.vscode
.editorconfig
.jshintignore
.jshintrc
bench/*
ci/*
docker-compose.yml
e2e/*
examples/*
make_docs.sh
run_docker.sh
test/*
