dist: trusty
language: node_js
sudo: required
node_js:
- '4'
- '6'
# env:
# - WITH_SASL=0
# - WITH_SASL=1
cache:
  directories:
  - node_modules
services:
- docker
before_install:
- docker-compose up -d
script:
- make lint
- make test
- make e2e
before_deploy:
- openssl aes-256-cbc -K $encrypted_a2e08d5c220e_key -iv $encrypted_a2e08d5c220e_iv -in deploy.enc -out /tmp/deploy -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy
- ssh-add /tmp/deploy
deploy:
  provider: script
  script: ./make_docs.sh
  on:
    branch: master
    tags: true
